# maven #
target

logs

# windows #
Thumbs.db

# Mac #
.DS_Store

# eclipse #
.settings
.project
.classpath
.log
*.class

# idea #
.idea
*.iml
*.sql
*.sql

# Package Files #
*.jar
*.war
*.ear
/target
