<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.plugin.workflow.design.mapper.WfSerialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="wfSerialResultMap" type="org.springblade.plugin.workflow.design.entity.WfSerial">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="deployment_id" property="deploymentId"/>
        <result column="name" property="name"/>
        <result column="prefix" property="prefix"/>
        <result column="date_format" property="dateFormat"/>
        <result column="suffix_length" property="suffixLength"/>
        <result column="start" property="start"/>
        <result column="connector" property="connector"/>
        <result column="sequence" property="sequence"/>
        <result column="cycle" property="cycle"/>
    </resultMap>

</mapper>
